[Unit]
Description=replacing xfwm4, Xfce's window manager, with i3
Before=graphical.target

[Service]
Type=OneShot
ExecStart=/usr/bin/xfconf-query -c xfce4-session -p /sessions/Failsafe/Client0_Command -t string -sa xfsettingsd
ExecStart=/usr/bin/xfconf-query -c xfce4-session -p /sessions/Failsafe/Client1_Command -t string -sa i3

[Install]
WantedBy=graphical.target
